.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  width: 768px;
  text-align: center;
}

.control-wrapper select, .control-wrapper button {
 margin: 0 10px;
}



/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }
  
  .container {
    width: 100%;
  }

  .control-wrapper select, .control-wrapper button {
    margin: 0 2px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 4rem;
  }

  .container {
    width: 640px;
  }
}

@media (prefers-color-scheme: dark) {
  
}

